@media screen and (max-width: 768px) {
  .container-pokeIndex {
    flex-wrap: nowrap;

    overflow-x: auto;
  }

  .random-display {
    width: 188px;
    height: 310px;
  }

  .title-container {
    font-size: 10px;
  }

  .pokeInfo {
    font-size: 13px;
  }

  .border-elem {
    height: 170px;
    width: 170px;
    border: 4px solid white;
  }

  .imgContainer {
    width: 150px;
    height: 150px;
  }

  .pokeName-container {
    width: 150px;
    height: 40px;
  }

  .nextBtn {
    font-size: 16px;
    padding: 1px;
  }

  .historyDisplay {
    height: 200px;
    width: 170px;
    margin-top: 1rem;
  }

  .history-container {
    padding-top: 0.5rem;
    width: 188px;
    height: 310px;
  }

  .poke-img {
    height: 25px;
    width: 25px;
  }

  .history-card {
    width: 75px;
    height: 77px;
  }

  .history-card h5 {
    font-size: 12px;
  }

  .history-card p {
    font-size: 11px;
  }

  .history-card img {
    width: 54px;
  }
}
