* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: PokemonHollow;
  src: url(./font/PokemonHollow.ttf);
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(./images/background.png) center / cover;
}

.container-btn {
  display: flex;
  gap: 3rem;
}

.btnStyle {
  padding: 5px;
  border: 2px solid #393e46;
  border-radius: 2px;
  background-color: #353935;
  color: #f1eedc;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  box-shadow: 1px 0px 0px 6px #353935;
  -webkit-box-shadow: 1px 0px 0px 6px #353935;
  -moz-box-shadow: 1px 0px 0px 6px #353935;
}

/*-----PokeContainer-----*/

.pokeName-container {
  border: 4px solid #353935;
  border-radius: 5px;
  background-color: #68e0e0;
  height: 60px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-poke {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.container-pokeIndex {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.border-elem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 280px;
  border: 9px solid white;
  background-color: black;
}

.random-display {
  background-color: #c96868;
  border-radius: 10px;
  border: 6px solid #393e46;
  height: 510px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.imgContainer {
  background: url(./images/pokeIndex.png) center / cover;
  border: 4px solid #393e46;
  border-radius: 10px;
  width: 290px;
  height: 310px;
  text-align: center;
  padding-top: 3rem;
}

.imgContainer img {
  max-width: 100%;
  width: 60%;
}

/*-----history container-----*/

.history-container {
  background-color: #c96868;
  border-radius: 10px;
  border: 6px solid #393e46;
  height: 510px;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

.main-title {
  display: flex;
  justify-content: center;
}

.title-container {
  font-family: PokemonHollow;
  color: #f1eedc;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.poke-img {
  height: 40px;
  width: 40px;
}

.containerSwitch {
  display: flex;
  margin-top: 1rem;
  gap: 3rem;
}

.historyDisplay {
  border: 4px solid #393e46;
  border-radius: 10px;
  background: url(./images/random.png) center/cover;
  width: 300px;
  height: 330px;
  text-align: center;
  margin-top: 12px;
}

.historyDisplay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.history-card {
  padding: 5px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.historyDisplay + .btnStyle {
  margin-top: 1rem;
}

.statsDisplay {
  border: 4px solid #393e46;
  border-radius: 10px;
  background-color: #68e0e0;
  width: 300px;
  height: 330px;
  text-align: center;
  margin-top: 12px;
  display: none;
}

.containerStats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.stats-card {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
